config service 'main'
	option enabled '0'
	option user ''
	option passwd ''
	option mac ''
	option imei ''
	option bind '[::]:7088'
	option address ''
	option interface ''
	option udp_proxy '1'
	option rtsp_proxy '1'
	option manage_enabled '1'
	option auth_token ''
	list auth_protect 'playlist'
	list auth_protect 'xmltv'
	list auth_protect 'manage'
	option fcc_enabled '1'
	option fcc_signaling_timeout_ms '80'
	option fcc_unicast_idle_timeout_ms '1000'
	option fcc_max_redirects '5'
	option fcc_startup_buffer_ms '300'
	option fcc_startup_buffer_packets '48'
	option fcc_switch_extra_packets '64'
	option fcc_switch_min_unicast_ms '500'
	option alias_mode 'first_match'
	option default_group '未分组'
	option xmltv_use_alias_name '1'
	list same_alias 'resolution_desc'
	list same_alias 'prefer_resolution'
	list same_alias 'original'

config resolution_rule
	option pattern '(?i)4k|2160p|ultra\s*hd|uhd'
	option score '400'
	option label 'R4K'

config resolution_rule
	option pattern '(?i)超高清'
	option score '350'
	option label 'Uhd'

config resolution_rule
	option pattern '(?i)超清|1080p|fhd'
	option score '300'
	option label 'Fhd'

config resolution_rule
	option pattern '(?i)高清|720p|hd'
	option score '200'
	option label 'Hd'

config resolution_rule
	option pattern '(?i)标清|sd|576p|480p'
	option score '100'
	option label 'Sd'
